a:hover {
    background-color: #212529;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    background-color: #212529;
}

.dropdown-item:hover {
    color: #fff;
    background-color: #212529;
}
